# The requirements are simply for tools for working with the projects, i.e.
# development.  The version of Python in the container is 3.6 as this is what
# google-chrome-stable installs.

# In the spirit of containers the goal is to
# keep installed software in the container to a minimum.  The version of Python
# used for entrypoint.py and any associated files will be the same as the version
# install by google-chrome-stable

# Used in the container
# -----------------------------
boto3 == 1.22.1

# Documentation
# -----------------------------
Sphinx == 4.5.0
sphinx-rtd-theme == 1.0.0
ghp-import == 2.0.2

# Software Engineering
# -----------------------------
black == 24.3.0
pylint == 2.13.8
